@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bungee&family=Montserrat:wght@450&display=swap');
*{
    background-color: #16151A;
 }
 nav a{
    color: #fcfcfe;
}
.navbar{
    margin:0; 
    padding:0;
    width: 100%;
    /* position: fixed;   */
 }


/* 
 

 body, html{
    margin:0; 
    padding:0;
 }

.imgredonda{
    width:400px;
    height:400px;
    border-radius: 200px;
}

#inicio p{
    text-align: left;
    color: #aaccee;
}
#inicio hr{
    color: #fcfcfe;
    border-style: dashed;
    border-width: 2px;
}
#sobre_mi p{
    text-align: justify;
    font-family: 'Pangolin', cursive;
    font-size: medium;
    color: #fcfcfe;
    font-size: 25px;
}
#formacion p{
    background: #5D1476;
    text-align: center;
    color: #fcfcfe;
    font-family: 'Pangolin', cursive;
} */
/* .card{
    display: flex;
    background: #5D1476;
    margin: auto;
    border: none;
} */
#contactame label{
    font-family:'Montserrat', sans-serif;
    color: #fcfcfe;
    float: left;
}
#btnEnviar{   
    color: #fcfcfe;
    font-size: 10pt;
    font-weight: bold;
}
  
/*

footer {
    text-align: center;
    padding-top: 10%;
    width: 100%;
    height: 40px;
    color: white;
    font-family: monospace;
} */

/* #rowin {
    display: flex;
    flex-wrap: wrap;
  }
  
  #colin1 {
    width: 80%;
  }
  
  #colin2 {
    width: 20%;
  }
  
  @media all and (max-width: 450px) {
    #rowin {
      flex-direction: column;
    }
    #rowin  #colin1 {
      width: 100%;
      order: 1;
    }
    #rowin #colin2 {
      width: 100%;
      order: 2;
    }
  } */
@media only screen and (max-width: 320px) {

    #inicio img{
        width: 70%;
        height: 70%;
    }
    #inicio p1{
        font-size: 34pt ;
    }
    #inicio p2{
        font-size: 30pt ;
    }
    #inicio p3{
        font-size: 10pt ;
    }

    #sobre_mi p{
        font-size: 16px;
        text-align: justify;
    }
    footer p{
        font-size: 5pt;
    }
  }
